<div class="row">
    <div class="col-xs-12">
        <form action="">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name">

                </div>
                <div class="col-sm-4 form-group">
                    <label for="num">Amount</label>
                    <input type="number" class="form-control" id="num">

                </div>
            </div>
            <div class="row">
                <span>
                    <button class="btn btn-success" type="submit">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Reset</button>

                </span>
            </div>
        </form>

    </div>
</div> 

